<footer>
  <p>About us</p>
  <p>Contact</p>
  <img src="/images/facebook (1).png" alt="facebook" />
  <img src="/images/instagram (1).png" alt="instagram" />
  <img src="/images/linkedin (2).png" alt="linkedin" />
</footer>