<div class="container mt-5">
  <form action="/a/{{activityDetails._id}}/comments" method="post">
    <div class="d-flex justify-content-center row"> 
        <div class="col-md-8">
          <div class="bg-white p">
            <p class="d-block font-weight-bold name">How satisfied are you with your found Activity?</p><br>
          </div>

          
            <div class="d-flex flex-column comment-section">
                <div class="bg-white p-2">
                  {{!-- insert profile picture, name --}}
                    <div class="d-flex flex-row user-info"><img class="rounded-circle" src="{{activityDetails.user.profilePicture}}" width="40">
                        <div class="d-flex flex-column justify-content-start ml-2"><span class="d-block font-weight-bold name">{{activityDetails.user.firstName}} {{activityDetails.user.lastName}}</span>
                    </div>                  
                </div>
                <div class="bg-light p-2">
                    <div class="d-flex flex-row align-items-start">
                      <textarea name="comments"class="form-control ml-1 shadow-none textarea"></textarea>
                </div>
                
            </div>
        </div>
        
    </div>

    <div id="panel" class="panel-container">
      <div class="ratings-container">

        <div class="rating">
        <img src="/images/sad (1).png" alt="sad-face">
        <small>Unhappy</small>
        </div>
        <div class="rating">
        <img src="/images/confused.png" alt="confused">
        <small>So so</small>
        </div>
        <div class="rating">
        <img src="/images/smiling.png" alt="happy">
        <small>Happy</small>
        </div>
      </div>
    </div>

        <div class="mt-2 text-right">      
           <button id="send" class="btn btn-dark" type="submit">Post comment</button>
        </div>
  </form>
</div>

<script src="/js/ratings.js"></script>