<div class="container mt-5">
  <form action="/a/{{id}}/comments" method="post">
    <div class="d-flex justify-content-center row"> 
        <div class="col-md-8">
          <div class="bg-white p">
            <p class="d-block font-weight-bold name">Leave a comment</p>
          </div>

          {{#with currentUser}}
            <div class="d-flex flex-column comment-section">
                <div class="bg-white p-2">
                  {{!-- insert profile picture, name --}}
                    <div class="d-flex flex-row user-info"><img class="rounded-circle" src="{{profilePicture}}" width="40">
                        <div class="d-flex flex-column justify-content-start ml-2"><span class="d-block font-weight-bold name">{{firstName}} {{lastName}}</span>
                    </div>                  
                </div>
                <div class="bg-light p-2">
                    <div class="d-flex flex-row align-items-start">
                      <textarea name="comment"class="form-control ml-1 shadow-none textarea"></textarea>
                </div>
                
                <div class="mt-2 text-right">      
                      <button class="btn btn-dark" type="submit">Post comment</button>
                </div>
            </div>
        </div>
        {{/with}}
    </div>
  </form>
</div>