<h1>Let's create your activity</h1>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <hr />
      <form action="/a/create" , method="post">
        <div class="mb-3 form">
          <input
            required
            type="text"
            class="form-control"
            id="name"
            name="name"
            placeholder=" "
          />
          <label for="name" class="form-label">Name: </label>
        </div>
        <div class="mb-3 form">
          <input
            required
            type="text"
            class="form-control"
            id="description"
            name="description"
            placeholder=" "
          />
          <label for="description" class="form-label">Description: </label>
        </div>
        <div class="mb-3 form">
          <input
            type="url"
            class="form-control"
            id="imageUrl"
            name="imageUrl"
            placeholder=" "
          />
          <label for="imageUrl" class="form-label">Image link:</label>
        </div>
        <div class="mb-3 form">
          <input
            type="datetime-local"
            class="form-control"
            id="date"
            name="startDate"
            placeholder=" "
          />
          <label for="startDate" class="form-label">Event start time: </label>
        </div>
        <div class="mb-3 form">
          <input
            type="datetime-local"
            class="form-control"
            id="date"
            name="endDate"
            placeholder=" "
          />
          <label for="endDate" class="form-label">Event finish time: </label>
        </div>
        <div class="mb-3 form">
          <input
            type="text"
            class="form-control"
            id="autocomplete"
            name="location"
            placeholder=" "
          />
          <label for="location" class="form-label">Location: </label>
        </div>
        <div class="mb-3 form">
          <input
            type="text"
            class="form-control"
            id="price"
            name="price"
            placeholder=" "
          />
          <label for="price" class="form-label">Price in EUR: </label>
        </div>
        <div class="mb-3 form">
          <input
            type="text"
            class="form-control"
            id="organizer"
            name="organizer"
            placeholder=" "
          />
          <label for="organizer" class="form-label">Organizer name: </label>
        </div>

        <button type="submit" class="btn btn-dark">Create</button>
        <a href="/profile" class="btn btn-dark">Go back</a>

      </form>
    </div>
  </div>
</div>