@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");

/* 
COLOR1: #ced4da;
COLOR2: #343a40;
COLOR3: #adb5bd;
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif; */
  font-family: "Merriweather", serif;
  color: #343a40;
  background-color: #ffffff;
  scroll-behavior: smooth;
  height: 100%;
  border-bottom: 28px solid #343a40;
}

h1 {
  font-size: 2.488rem;
  line-height: 1.1;
  text-align: center;
  margin-top: 2em;
  font-weight: bold;
  letter-spacing: -1px;
}

.body-container {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 1.1rem;
  line-height: 1.5;
}

footer {
  position: relative;
  height: 30px;
  clear: both;
  bottom: 0;
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  padding: 2em 1em;
  width: 100%;
}

footer img {
  width: 30px;
}

.card {
  box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.15);
}

.box {
  width: 350px;
  min-height: 100%;
}

.card-title {
  font-size: 1.1rem;
  line-height: 1.7;
  text-decoration: none;
}

.col {
  margin: 0 auto;
  width: 90%;
}

#date-text {
  margin-top: 1em;
  color: rgb(129, 24, 24);
  font-size: 1.1rem;
  width: 60%;
}

#grey-text {
  font-size: 14px;
}

.card-img-top {
  border: 0;
  margin: 0;
  padding-top: 2%;
}

.error-text {
  padding: 1em;
  font-size: 1rem;
  color: rgb(129, 18, 18);
  font-weight: bold;
  background-color: white;
  padding: 1em;
  border-radius: 0.5rem;
  box-shadow: 0 0 6px 9px rgba(0, 0, 0, 0.15);
}
.container-profile {
  display: flex;
  justify-content: space-evenly;
}

.card-split {
  display: flex;
}
.card-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#buttonLetter {
  font-size: 15px;
  padding-bottom: 0.5rem;
}

button > #red {
  fill: red;
  font-size: 15px;
}

#register-button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.hide {
  display: none;
}

.logo {
  width: 150px;
}

.search-icon {
  width: 20px;
}

.container-header {
  display: flex;
  justify-content: space-between;
  gap: 2;
  margin: 1.5em;
}

.logo {
  width: 150px;
  height: auto;
}

.welcome-image {
  position: relative;
}

.welcome-text {
  position: absolute;
  top: 10%;
  left: 5%;
  text-align: center;
  height: 100vh;
}

.welcome-form {
  position: absolute;
  top: 20%;
  left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-image {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.activity-container {
  display: flex;
  justify-content: center;
  gap: 5em;
  width: 80%;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: center;
}

.nav-link {
  color: #343a40;
  border-radius: 20px;
  margin: 0 0.4em;
}

.nav-link:hover {
  color: #343a40;
  background-color: #ced4da;
  transition: 0.2s;
  transform: scale(0.97);
}

.btn {
  color: #343a40;
  background-color: #ced4da;
  font-weight: 700;
  font-size: 1.1rem;
  border-radius: 20px;
  border: none;
  outline: 0;
}

.btn:hover {
  color: #343a40;
  background-color: #adb5bd;
  font-size: inherit;
  transition: 0.2s;
  transform: scale(0.97);
}

.btn:active {
  transform: scale(0.97);
}

.form-control-me-2 {
  border: 0;
}

.form {
  position: relative;
  margin: 2em 0;
  height: 3rem;
}

.form-control {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  background: none;
}

.form-control:focus {
  border-bottom-color: #adb5bd;
}

.form-input span {
  transition: 0.3s cubic-bezier(0.67, -71, 0.261, 1.7);
}

.form-control:focus + .form-label span {
  color: #343a40;
  display: inline-block;
  transform: translateY(-5px);
}

.form-label {
  position: absolute;
  left: 0;
  top: 1em;
  padding-left: 0.5em;
  cursor: text;
  /* transition: top 200ms ease-in; */
  background-color: #ffffff;
}

.form-control:focus + .form-label,
.form-control:not(:placeholder-shown).form-control:not(:focus) + .form-label {
  top: -1.5rem;
  color: #343a40;
  left: 0;
}
.comments {
  padding: 2%;
  display: flex;
  justify-content: center;
}
#activity-detail-container {
  padding: 2%;
  display: flex;
  justify-content: center;
}
.set-width {
  width: 70%;
}

#map-styling {
  margin-top: 20rem;
  display: flex;
  justify-content: center;
}

.description {
  width: 70%;
}
#savedActivitites-container {
  margin-left: 5%;
  display: flex;
  justify-content: center;
}

.bg-light .form-control {
  position: relative;
}

.panel-container {
  background-color: #ffffff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
}

.ratings-container {
  display: flex;
}

.rating {
  flex: 1;
  cursor: pointer;
  padding: 2em;
  margin: 1em 0.5em;
}

.rating img {
  width: 50px;
}

.rating:hover,
.rating:active {
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.rating small {
  color: #ced4da;
  display: inline-block;
  margin: 0.4em 0 0;
}

.rating:hover small,
.rating:active small {
  color: #343a40;
}
