body {
 
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #063e54;
}

h1 {
  color: 15px;
}
.body-container {
	box-sizing: border-box;
	margin: 2%;
	padding: 0;
}
.card-title{
  color: #262339;
  font-size:18px ;
  text-decoration: none;
  }

  #date-text{
    color: rgb(129, 24, 24);
    font-size: 14px;

  }
  h2{
    font-size: 14px;
  }
  #grey-text{
    color: rgb(135, 135, 135);
    font-size: 14px;
  }

  .card-img-top{
    border: 0;
    margin: 0;
  }

  .error-text{
    padding: 1em;
    font-size: 1rem;
    color:rgb(129, 18, 18);
    font-weight: bold;
    background-color: white;
	  padding: 1em;
  	border-radius: 0.5rem;
	  box-shadow: 0 0 6px 9px rgba(0, 0, 0, 0.15);
  }
