body {
 
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}
.body-container {
	box-sizing: border-box;
	margin: 2%;
	padding: 0;
}
.card-title{
  color: #262339;
  font-size:18px ;
  text-decoration: none;
  }

  #date-text{
    color: rgb(101, 16, 16);
    font-size: 14px;

  }
  h2{
    font-size: 14px;
  }
  #grey-text{
    color: rgb(135, 135, 135);
  }

  .card-img-top{
    border: 0;
    margin: 0;
  }